/*FONTE */

body {
    font-family: 'Lato', sans-serif;
}


/*******************************************************************************************
******************************  NAV E FOTO DE FUNDO ****************************************
*******************************************************************************************/


/*IMAGEM*/

#header {
    background-image: url(../img/background/background-index.jpg);
    color: white;
    padding-bottom: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 728px;
    /* background-size: 100% 100%; */
}

#navegacao>li>a:hover {
    border-bottom: 1px #fafafa solid;
}


/*FRASE H1*/

#frase>.col-md-12>h1 {
    padding-top: 100px;
    color: rgb(250, 240, 240);
}


/*FRASE H2*/

#frase>.col-md-12>h2 {
    padding-top: 100px;
    color: #fff;
}


/*BTN - CADASTRAR */

.btn-cad {
    border-radius: 25px;
    color: #fff;
    background-color: rgba(72, 166, 221, 0.781);
    margin-top: 30px;
    padding: 10px;
}

.btn-cad:hover {
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-color: palevioletred;
}


/*CONTATO NAV*/

#contato,
#link-header>a {
    border-radius: 25px;
    color: #fff;
    background-color: rgba(72, 166, 221, 0.781);
}

#contato:hover {
    border-bottom: 0px !important;
    color: #fff;
    background-color: palevioletred;
}


/*LINKS NAV*/

#link-header>a:hover {
    color: #fff;
    background-color: palevioletred;
}


/*******************************************************************************************
******************************  TELAS DE LOGIN *********************************************
*******************************************************************************************/


/* BACKGROUND PERMISSÃO DE ACESSO
 ****LOGIN CLIENTE E USUÁRIO****/

#background-principal,
#background-login {
    background-image: url('../img/background/background-login.jpg');
    /*Ajusta a img do tamanho da tela*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* CONTEÚDO PERMISSÃO DE ACESSO*/

#conteudo {
    position: absolute;
    padding: 50px;
    padding-top: 150px;
    width: 800px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
}


/* BOTÃO PERMISSÃO DE ACESSO*/

.btn-conteudo {
    border-radius: 30px;
    background: palevioletred;
    color: white;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;
    width: 300px;
}

.btn-conteudo:hover {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}


/* LOGIN NOVO CADASTRO DE CLIENTE*/

#background-cadastro {
    background-image: url('../img/background/background-cadastro.jpg');
    /*Ajusta a img do tamanho da tela*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* CONTEÚDO TELA DE LOGIN*/

#login,
#admin {
    display: flex;
    position: absolute;
    padding: 50px;
    padding-top: 150px;
    width: 450px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}


/* BOTÃO LOGIN CLIENTE E USUÁRIO - ENTRAR*/

.btn-login,
.btn-Voltar {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background: palevioletred;
    color: white;
    border: none;
    align-self: center;
}


/* BOTÃO LOGIN CLIENTE - CADASTRAR-SE*/

.btn-cadastrar {
    margin-top: 20px;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background: rgba(24, 143, 212, 0.781);
    color: white;
    border: none;
    align-self: center;
}


/* BOTÃO LOGIN CLIENTE - CADASTRAR-SE*/

.btn-login:hover,
.btn-cadastrar:hover,
.btn-Voltar:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
}


/*BOTÃO DE CADASTRO - ALINHAMENTO*/

.align-between {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.align-button {
    display: flex;
    justify-content: center;
    align-self: center;
}


/* ALERT TELA DE LOGIN*/

.alert-danger {
    display: flex;
    justify-content: center;
    margin: 25px;
    height: 45px;
    border-radius: 30px;
    font-size: 12px;
}


/* BACKGROUND LISTA DE PRODUTOS */

#background-lista,
#background-carrinho {
    background-image: url('../img/background/Background-telas.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* CONTAINER LISTA DE PRODUTOS */

#container-lista,
#container-carrinho {
    background-color: rgba(251, 246, 247, 0.918);
    color: rgba(24, 143, 212, 0.781);
    padding-bottom: 40px;
}